<p style="color: green"><%= notice %></p>

<%= render @piece %>
<%= render "pieces/piececurieux", piece: @piece %>

<button id="myBtn" onclick="">ajouter une danse</button>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
      <div class="modal-content">
            <span class="close">&times;</span>
            <div><%=render "hasmanydanses/form",hasmanydanse:@hasmanydanse%>
            </div>
                  </div>

</div>

<div>
  <%= link_to "Editer le texte", editpiece_piece_path(@piece) %> |
  <%= link_to "Editer les infos de la piece", edit_piece_path(@piece) %> |
  <%= link_to "Back to pieces", pieces_path %>

  <%= button_to "Destroy this piece", @piece, method: :delete %>
</div>
